

@media screen and (max-width: 865px) {
    
    .IWantTo {
        display: none !important;
    }
    .signIn {
        display: none !important;
    }
    .form-control-input {
        max-width: 50% !important;
        text-align: center !important;
    }
    
    
    .input-space {
        margin-bottom: 70px !important;
        display: block !important;
    }
    
}

@media screen and (max-width: 470px) {
    /* Make left and right drawers to full screen when mobile */
    .login-main {
        width: 100% !important;
    }
    .new-activity {
        width: 100% !important;
    }
    
    /* CREATE NEW USER */
  
    
    .input-register-right {
        text-align: center !important;
        margin-right: 0 !important;
    }
    
    .input-register {
        text-align: center !important;
        margin-left: 0 !important;
    }  
}

@media screen and (max-width: 540px) {
    .input-register-right {
        text-align: center !important;
        margin-right: 0 !important;
    }
    
    .input-register {
        text-align: center !important;
        margin-left: 0 !important;
    }
    
   
}

@media screen and (max-height: 1000px) {
    .new-activity {
        height: 100% !important;
    }
    .login-main {
        height: 100% !important;
    }
}
