

@media screen and (max-width: 865px) {
    
    .IWantTo {
        display: none
    }
    .signIn {
        display: none
    }
    .form-control-input {
        max-width: 50% 
        text-align: center 
    }
    
    
    .input-space {
        margin-bottom: 70px 
        display: block 
    }
    
}

@media screen and (max-width: 470px) {
    /* Make left and right drawers to full screen when mobile */
    .login-main {
        width: 100% 
        height: 100vh;
        max-height: 100%;
        margin-bottom: -20px;
    }
    .new-activity {
        width: 100% 
        height: 100vh;
        max-height: 100%;
        margin-bottom: -20px;
    }
    
    /* CREATE NEW USER */
  
    
    .input-register-right {
        text-align: center;
        margin-right: 0;
    }
    
    .input-register {
        text-align: center;
        margin-left: 0;
    }  
}

@media screen and (max-width: 540px) {
    .input-register-right {
        text-align: center;
        margin-right: 0 
    }
    
    .input-register {
        text-align: center 
        margin-left: 0 
    }
    
   
}

@media screen and (max-height: 1000px) {
    /* Make left and right drawers to full screen when mobile */
    .login-main {
        height: 100% 
    }
    .new-activity {
        height: 100% 
    }
}
