/************************
GENERAL
************************/

body {
    font-family: 'Nunito', sans-serif;
    background-color: #aac8ed;
    padding-top: 0;
    margin-top: 20px;
    min-height: 100%;
}

a {
    text-decoration: none;
    background-color: transparent! important;
}

a:hover {
    color: white;
    background-color: transparent!important;
}

a:visited {
    color: white;
}

img {
    max-width: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
    margin-top: 80px;
    height: 100%;
}


/************************
FONTS
************************/

p {
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

h1 {
    font-size: 2.25em;
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.5pt;
}

h1-color {
    font-size: 2.25em;
    color: #4990E2;
    font-weight: bold;
    letter-spacing: 0.1pt;
}

h2 {
    font-size: 1.250em;
    color: #4990E2;
    font-weight: bold;
    letter-spacing: 0.1pt;
}

h2-black {
    font-size: 1.250em;
    color: #4A4A4A;
    font-weight: 700;
    letter-spacing: 0.1pt;
}

#basicText {
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

select:invalid {
    color: #E0E0E0;
}

/* Inputs placeholder text color */
*::-webkit-input-placeholder {
    color: #E0E0E0;
}
*:-moz-placeholder {
    color: #E0E0E0;
}
*::-moz-placeholder {
    color: #E0E0E0;
}
*:-ms-input-placeholder {
    color: #E0E0E0;
}

/************************
STYLES
************************/

#borderless {
    border: none;
    box-shadow: none;
    outline: 0;
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

#defaultText {
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
}

#alignToLeft {
    text-align: left;
}

#alignToCenter {
    text-align: center;
}

#alignToRight {
    text-align: right;
}

/************************
HEADER
************************/

.navbar {
    overflow: hidden;
    background-color: #aac8ed;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:1;
}

.navbar-left {
    float: left;
    margin: 10px 0 0 20px;
    padding: 0;
}

.profilePicture {
    width: 32px;
}

.navbar-form {
    margin: 0;
    padding: 6px 0 0 0;
    height: 75px;
    text-align: center;
}

.IWantTo {
    font-size: 3em;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-right: 12px;
}

.form-control-input {
    background-color: #aac8ed;
    height: auto;
    margin: auto;
    font-size: 3em;
    font-weight: lighter;
    color: white;
    border: none;
    box-shadow: none;
    outline: 0;
    max-width: 25%;
}

.form-control:focus {
    box-shadow: none;
}

.navbar-right {
    margin: 10px 20px 0 0px;
    padding: 0;
    float: right;
}

.newActivity {
    width: 32px;
}

.menuButton {
    display: inline-flex;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.signIn {
    padding-left: 8px;
}

#search-button {
    visibility: hidden;
}


/************************
CARD  |  SMALL
************************/

.card {
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.card-category-title {
    margin: 14px 14px 2px 14px;
    font-size: 1.125em;
    font-weight: bold;
    color: #4990E2;
}

.card-title {
    margin: 0 14px 10px 14px;
    font-weight: bold;
    font-size: 1.5em;
    color: #4A4A4A;
}

.card-time {
    margin: 0 0 0 14px;
    color: #b5b5b5;
    font-weight: normal;
}

.card-distance {
    margin: 0 14px 0 0;
    font-weight: normal;
    color: #b5b5b5;
    float: right;
}

.card-strip {
    height: 3px;
    background-color: blue;
    width: 100%;
}

.SingUpCard {
    width: 380px;
    height: 670px;
    padding: 5%;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.cardbtn {
    width: 350px;
    padding: 5px;
    text-align: center;
    background-color: blue;
    color: white;
}

.cardbtn-small {
    width: 100px;
    padding: 5px;
    text-align: center;
    background-color: blue;
    color: white;
}


/************************
CARD  |  EXPANDED
************************/

.card-expanded {
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    padding: 30px 55px 30px 55px ;
    max-width: 790px;
    min-height: 820px;
    margin: auto;
    position: relative;
}

.card-strip-expanded {
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4990E2;
}

.card-expanded-space {
    padding-bottom: 40px;
}

.card-wrapper {
    margin-bottom: 20px;
}

.card-expanded-container {
    margin-top: 58px;
}

/************************
CARD  |  EXPANDED  |  EDIT
************************/

.title-edit {
    font-size: 2.25em;
    display: block;
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.5pt;
}


/************************
NEW ACTIVITY
************************/

.new-activity {
    position: relative;
    margin: -80px 0 0 0;
    float: right;
    width: 470px;
    min-height: 100vh;
    padding: 47px 45px 20px 45px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index:1;  
}

.closeButtonNewActivity {
    float: right;
    width: 27px;
    margin-top: -25px;
    margin-right: -7px;
}

#label-text {
   padding-bottom: 30px; 
}

.createActivityLabel {
    padding-bottom: 23px;
}


.activity-description {
    width: 100%;
    resize: none;
}

.row-skill {
    margin-bottom: 50px;
}

.dateInput {
    border: none;
    width: 100%;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
    padding-bottom: 12px;
    font-size: 1.25em;
    z-index: 2;
}

.timeInput {
    border: none;
    width: 100%;
    padding-bottom: 12px;
    color: #9B9B9B;
    font-weight: 400;
    letter-spacing: 0.1pt;
    font-size: 1.25em;
    z-index: 2;
}

.dropdownInput {
    text-indent: 1px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 360px;
    font-size: 1.25em;
    color: #9B9B9B;
}

.durationInput {
    float: left;
    width: 40px;
}

/************************
LOG IN
************************/

.closeButton {
    float: right;
    width: 32px;
}

.background-drawer {
    margin-top: -80px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.login-main {
    position: relative;
    float: left;
    margin: -80px 0 0 0;
    min-height: 100vh;
    width: 470px;
    padding: 38px 38px 38px 45px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index:1;
}

.logInMainLabel {
    padding-bottom: 23px;
}

.input-logIn {
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: normal;
    width: 50%;
    text-align: left;
    border: none;
    box-shadow: none;
    outline: 0;
    margin-bottom: 30px
}

.mainButton {
    background-color: #4990E2;
    color: white;
    width: 100%;
    height: 58px;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
}

.NewUser {
    margin-top: 80px;
}


/************************
CREATE NEW USER
************************/


.user_picture {
    width: 200px;
}

.profile-picture-container {
    padding-bottom: 31px;
}

.input-space {
    display: none;
}

.inputs {
    font-size: 1.250em;
    color: #9B9B9B;
    font-weight: normal;
    border: none;
    box-shadow: none;
    outline: 0;
}

.input-register {
    text-align: left;
    border: none;
    box-shadow: none;
    outline: 0;
    margin-bottom: 17px;
    margin-left: 5px;
}

.input-register-right {
    text-align: right;
    border: none;
    box-shadow: none;
    outline: 0;
    margin-bottom: 17px;
    margin-right: 5px;
}

.input-register-middle {
    text-align: center;
    border: none;
    box-shadow: none;
    outline: 0;
    margin-bottom: 17px;
}

.input-register-age {
    text-align: left;
    border: none;
    width: 100px;
    box-shadow: none;
    outline: 0;
    margin-bottom: 17px
}

.button-bottom-container {
    height: 58px;
    position: absolute;
    margin: auto;
    padding: 0;
    bottom: 30px;
    width: 85%;
}

.button-row-left {
    background-color: #4990E2;
    color: white;
    height: 58px;
    border: none;
    float: left;
    width: 40%;
    font-size: 1.25em;
}

.button-row-right {
    background-color: #4990E2;
    color: white;
    height: 58px;
    border: none;
    float: right;
    width: 40%;
    font-size: 1.25em;
}

.button-row-right-grey {
    background-color: gainsboro;
    color: white;
    height: 58px;
    border: none;
    float: right;
    width: 40%;
    font-size: 1.25em; 
}

.profile-picture-big {
    width: 210px;
    height: 210px;
    margin-left: 18%;
    margin-bottom: 25px;
}

.button-bottom {
    position: absolute;
    bottom: 20px;
    width: 80%;
}

#datepicker {
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.1pt;
}

.closeButtonProfile {
    float: left;
    width: 27px;
    margin-top: -15px;
    margin-left: -7px;
}

.drawer-context {
    padding-top: 20px;
}