


body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(74,144,226,0.5);
}

/* Card */

.card {
    
    width:380px;
    padding: 1%;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}
.card-category-title {
    font-weight: bold;
}
.card-time {
    color: #b5b5b5;
    font-weight: bold;
}

.card-distance{
    font-weight: bold;
    color: #b5b5b5;
    float:right;
}

.card-strip {
    margin-top: -1.3%;
    margin-left: -1.3%;
    width: 102.6%;
    height: 5px;
    background-color: blue;
}