/************************
GENERAL
************************/

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(74, 144, 226, 0.5);
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

.container-fluid{
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

/************************
HEADER
************************/

.navbar-fixed-top {
    display: inline;
}

.nav-list {
    padding-top: 8px;
}

.navbar-left {
    padding: 0;
    margin: auto;
    float: left;
}

.navbar-form {
    padding: 0;
    margin: 0;
    text-align: center;
}

.input-group {
    width: 52%;
}

.navbar-right {
    margin: 0;
    padding: 0;
    float: right;
}


/************************
CARDS
************************/

.card {
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
<<<<<<< Updated upstream
    font-weight: bold;
	color: cyan;
=======
>>>>>>> Stashed changes
}

.card-category-title {
    margin: 14px 14px 2px 14px;
    font-size: 1.125em;
    font-weight: bold;
    color: #4990E2;
}

.card-title {
    margin: 0 14px 10px 14px;
    font-weight: bold;
    font-size: 1.5em;
    color: #4A4A4A;
}

.card-time {
    margin: 0 0 0 14px;
    color: #b5b5b5;
    font-weight: normal;
}

.card-distance {
    margin: 0 14px 0 0;
    font-weight: normal;
    color: #b5b5b5;
    float: right;
}

.card-strip {
    height: 3px;
    background-color: blue;
}


<<<<<<< Updated upstream
.SingUpCard {
    
    width:380px;
    height: 670px;
    padding: 5%; 
    background-color: #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    font-weight: bold;
}

.cardbtn{
	width: 350px;
	padding: 5px;
    text-align: center;
	background-color: blue;
	color: white;
}
.cardbtn-small{
    width: 100px;
	padding: 5px;
    text-align: center;
	background-color: blue;
	color: white;

    
    
    
}


/* Card End */

=======
>>>>>>> Stashed changes

/************************
NEW ACTIVITY
************************/

.new-activity {
    float: right;
    height: 100vh;
    margin-right: -15px;
    width: 30%;
    margin-top: -100px;
    padding-top: 100px;
    padding-left: 1%;
    padding-right: 1%;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background-color: aliceblue;
}

.column {
    font-weight: bold;
}

.row-title {
    font-weight: bold;
}

.row-category {
    font-weight: bold;
}

.row-desc {
    font-weight: bold;
}

.activity-description {
    resize: none;
}

.row-date {
    font-weight: bold;
}

.row-dur {
    font-weight: bold;
}

.row-location {
    font-weight: bold;
}

.row-participants {
    font-weight: bold;
<<<<<<< Updated upstream
}


/* New activity End */


/*****************
NAVBAR
******************/

.bar {
    text-align: center !important;
    padding-top: 20px;
}

.navbar {
    height: 100px;
    padding-top: 10px;
    padding: 5px;
    display: block;
}

.btn-circle {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: aqua;
}

.btn {
    padding: 5px;
    text-align: center;
}

.input-group {
    width: 700px;
}

#gmaps {
    width: 450px;
    height: 450px;
}
=======
}
>>>>>>> Stashed changes
