<div ng-controller="EditActivityController">
    <div class="card-container">
        <div class="card card-expanded" id="alignToLeft">
            <div class="card-strip-expanded"></div>
            <div class="card-block">
                <div class="card-wrapper">
                    <a href='index.html'><img src="img/CloseButton.png" alt="" class="closeButton"></a>

                    <!--<h2>{{activity.subcategory.name}}</h2>-->
                    <select class="dropdownInput" ng-model="activityInformation.subcategory" ng-options="category as category.name for category in categories" required><option value="" disabled selected>Choose category</option> </select>

                    <!-- <h1>{{activity.name}}</h1>-->
                    <input type="text" class="title-edit" ng-model="activityInformation.name" placeholder={{activityHints.hintTitlePlaceholder}} required>

                    <!--<p>{{activity.description}}</p>-->
                    <textarea ng-model="activityInformation.description" class="activity-description" id="borderless" maxlength="140" rows="6" cols="40" placeholder={{activityHints.hintDescriptionPlaceholder}} required></textarea>
                </div>
                <div class="card-wrapper">
                    <h2-black>Time and location</h2-black>
                    <input class="dateInput" ng-model="dateTimeHolder.date" type="text" id="datePic" required> {{ loadDatePicker() }}
                    <input class="timeInput" ng-model="dateTimeHolder.time" type="text" id="timePic" required> {{ loadTimePicker() }}
                </div>

                <div class="card-wrapper">
                    <h2-black>Frequency</h2-black>
                    <select class="dropdownInput" ng-model="activityInformation.frequency" ng-options="frequency for frequency in frequencies" required>
                        <option value="" disabled selected>Chose frequency</option></select>
                </div>

                    <h2-black>Location</h2-black>
                    <div class="inputs"><span class="add-on"><i></i></span>
                        <input type="text" class="input-register-middle" id="ActivityLocation" placeholder={{activityHints.hintLocationPlaceholder}} required>
                
                        <input type="text" class="input-register-middle" id="actcountry" placeholder={{activityHints.hintContryPlaceholder}} required>
                    </div>

                <div class="card-wrapper">
                    <h2-black>Skill Level</h2-black>
                    <select class="dropdownInput" ng-model="activityInformation.skilllevel" ng-options="skillLevel for skillLevel in skillLevels" required>
                        <option value="" disabled selected>Choose skill level</option>
                    </select>
                </div>

                <div class="button-bottom-container">
                    <input type="button" value="Join Activity" class="mainButton" />
                </div>
            </div>
        </div>
    </div>
</div>
