<div ng-controller="ExpandedActivityController">
        <div class="card card-expanded">
            <div class="card-block">
                <div class="card-strip"></div>
                <p class="card-category-title">Running</p>    
                <h4 class="card-title"> Running in the 90's </h4>                 
                <p>We are going running in 90's theme</p>
                <p class="card-title">Time and location</p> 
                <p>Every monday at 9am</p>
                <p>Hupisaarten kesäteatteri</p>
                <p class="card-title">Participants</p>
                <p>O O O O O O O O O O O O</p>
                <p>Matti and 2 other friends are going</p>
                <p class="card-title">Skill Level</p>
                <p>Running: Beginner</p>
                <p class="card-title">About the Hoster</p> 
                <img src="img/UserIcon%20@2x.png" alt="" class="profilePicture">
                <span>Onni Oululainen</span>
                <span>+ 3 running</span>
           </div>
        </div>
    </div>
</div>