<div ng-controller="ExpandedActivityController" ng-init="loadCardInfo()">
    <div class="card-container">
        <div class="card card-expanded" id="alignToLeft">
            <div class="card-strip-expanded"></div>
            <div class="card-block">
                <div class="card-wrapper">
                    <a href='index.html'><img src="img/CloseButton.png" alt="" class="closeButton"></a>
                    <h2>{{activity.subcategory.name}}</h2>
                    <h1>{{activity.name}}</h1>
                    <p>{{activity.description}}</p>
                </div>

                <div class="card-expanded-space"></div>

                <div class="card-wrapper">
                    <h2-black>Time and location</h2-black>
                    <p>{{activity.frequency}} {{activity.dateTime | date : "EEEE 'at' H a"}} </p>
                    <p id="addressShow">{{addressScope}}</p>
                </div>
               <!-- <a href="#/editactivity/{{ activityId }}">Edit</a>
                -->
             <!--   <div class="card-wrapper">
                    <h2-black>Participants</h2-black>
                    
                    <p>Matti and 2 other friends are going</p>
                </div>
            -->
                <div class="card-wrapper">
                    <h2-black>Skill Level</h2-black>
                    <p>{{activity.subcategory.name}}: {{activity.skilllevel}}</p>
                </div>

                <div class="card-wrapper">

                    <h2-black>About the Hoster</h2-black>
                    <br>
                    <div class="about-the-hoster">
                        <img src="img/UserIcon @2x.png" alt="" class="profile-picture-medium">
                        <div class="name-and-karma">
                            <p>{{activity.creator.firstname}} {{activity.creator.lastname}}</p>
                        </div>
                    </div>
                </div>

                          <!-- MIGHT need to be changed
                <div ng-if="loggedIn()" class="button-bottom-container">  -->
                    <input type="button" value="Join Activity" class="mainButton" ng-click="joinActivityPressed()" />
            </div>
        </div>
    </div>
</div>
