<div class="background-drawer" onclick="location.href='index.html';"></div>
<div class="login-main" ng-controller="HostedActivitiesController" ng-init="loadHostedActivities()">
    <img src="img/CloseButton.png" alt="" class="closeButtonProfile" ng-click="backButtonPressed()">
    <div class="drawer-context">
        <h2>Hosted Activities</h2>
        <p>You are hosting {{ activities.length }} activities</p>
        <br>
        <div ng-repeat="acts in activities">
            <div ng-if="$index % 4 == 0" class="clearfix"></div>
            <div class="col">
                <div ng-click="openActivity(acts.id)">
                    <card-info info="acts"></card-info>
                </div>
            </div>
        </div>
    </div>
</div>
