<div class="new-activity">
    <h1>{{ viewTitle }}</h1>

    <div class="new-activity-bar">
        <div class="column">
            <form>
                <div>
                    <div class="row-category">
                        <p1>{{ activityHints.hintCategory }}</p1>
                        <br>
                        <select name="category">
                            <option value="running">Running</option>
                            <option value="music">Music</option>
                            <option value="swimming">Swimming</option>
                            <option value="fencing">Fencing</option>
                            <option value="arts">Arts</option>
                        </select>
                    </div>
                    <br>
                    <div class="row-title">
                        <p1>{{ activityHints.hintTitle }}</p1>
                        <br>
                        <input type="text"></input>
                    </div>
                    <br>
                    <div class="row-desc">
                        <p1>{{ activityHints.hintDescription }}</p1>
                        <br>
                        <textarea class="activity-description" maxlength="140" rows="6" cols="40"></textarea>
                    </div>
                    <br>
                    <div class="row-date">
                        <p1>{{ activityHints.hintDate }}</p1>
                        <br>
                        <input type="datetime"></input>
                    </div>
                    <br>
                    <div class="row-location">
                        <p1>{{ activityHints.hintLocation }}</p1>
                        <br>
                        <input type="text" maxlength="60"></input>
                    </div>
                    <br>
                    <div class="row-participants">
                        <p1>{{ activityHints.hintParticipantAmount }}</p1>
                        <input type="number" min="0" max="4"></input>
                    </div>
                    <br>
                    <div class="row-skill">
                        <p1>{{ activityHints.hintSkillLevel }}</p1>
                        <select name="skillLevel">
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div>
                        <button name="create_activity" value="value" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>