<!--
<div class="container" ng-controller="LoginController">
    <div class="col-md-offset-5 col-md-3">
    <h1>{{loginMsg}}</h1>
<form ng-show="notHidden" name="form" ng-submit="login()" role="form">
    <div class="form-group">
        <label for="username">Hello</label>
        <i class="fa fa-key"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="userName" placeholder={{userNamePlaceholder}} required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">{{userNameHelpText}}</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="passWord" placeholder={{passWordPlaceholder}} required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{passWordHelpText}}</span>
    </div>
    <div class="form-actions">
        <h4>{{loginError}}</h4>
        <button type="submit" class="btn btn-primary btn-md">{{loginMsg}}</button>
       <br>
      <a ng-href="#"> {{forgotPassWordMsg}}</a>
        <br>
        <br>
    </div>
</form>
    <h2>{{newUserMsg}}</h2>
    <button ng-click="signUp()" class="btn btn-primary btn-md">{{newUserButtonMsg}}</button>
   </div>
</div>
-->

<div class="new-activity">

    <div class="createActivityLabel">
        <h1-color>{{ viewTitle }}</h1-color>
        <a href='index.html'><img src="img/CloseButton.png" alt="" class="closeButton"></a>
    </div>
    <div class="new-activity-bar">
        <div class="column">
            <form name="createNewActivity" id="createActivity" ng-controller="NewActivityController" ng-submit="submitActivityForm()">
                <div>
                    <br>
                    <div class="row-title" id="label-text">
                        <h2-black>{{ activityHints.hintTitle }}</h2-black>
                        <br>
                        <input type="text" class="inputs" ng-model="activityInformation.name" placeholder={{activityHints.hintTitlePlaceholder}} required>
                    </div>
                    <div class="row-desc" id="label-text">
                        <h2-black>{{ activityHints.hintDescription }}</h2-black>
                        <br>
                        <textarea ng-model="activityInformation.description" class="activity-description" id="borderless" maxlength="140" rows="6" cols="40" placeholder={{activityHints.hintDescriptionPlaceholder}} required></textarea>
                    </div>
                    <div class="row-category" id="label-text">
                        <h2-black>{{ activityHints.hintCategory }}</h2-black>
                        <br>
                        <select ng-model="activityInformation.subcategory" ng-options="category as category.name for category in categories" required> </select>
                    </div>
                    <div class="row-date" id="label-text">
                        <h2-black>{{ activityHints.hintDateTime }}</h2-black>
                        <br>
                        <input class="timeInput" type="datetime" ng-model="activityInformation.dateTime" id="borderless"  required>
                    </div>
                    <div class="row-frequency" id="label-text">
                        <h2-black>{{ activityHints.hintFrequency }}</h2-black>
                        <br>
                        <select ng-model="activityInformation.frequency" ng-options="frequency for frequency in frequencies"> </select>
                    </div>
                    <div class="row-duration" id="label-text">
                        <h2-black>{{ activityHints.hintDuration }}</h2-black>
                        <br>
                        <input type="number" value="0" min="0" max="24" ng-model="activityInformation.duration" id="borderless" required>
                        <p>hours</p>
                    </div>
                    <div class="row-participants" id="label-text">
                        <h2-black>{{ activityHints.hintParticipantAmount }}</h2-black>
                        <br>
                        <input type="number" value="0" min="0" max="4" ng-model="activityInformation.userAmount" id="borderless" required>
                    </div>
                    <h2-black>{{activityHints.hintLocation}}</h2-black>
                    <div class="inputs"><span class="add-on"><i></i></span>
                        <input type="text" class="input-register-middle" id="ActivityLocation" placeholder={{activityHints.hintLocationPlaceholder}} required>
                    </div>
                    <h2-black>{{activityHints.hintCountry}}</h2-black>
                    <div class="inputs"><span class="add-on"><i></i></span>
                        <input type="text" class="input-register-middle" id="actcountry" placeholder={{activityHints.hintContryPlaceholder}} required>
                    </div>
                    <div class="row-skill" id="label-text">
                        <h2-black>{{ activityHints.hintSkillLevel }}</h2-black>
                        <br>
                        <select ng-model="activityInformation.skilllevel" ng-options="skillLevel for skillLevel in skillLevels" required> </select>
                    </div>
                    <div>
                        <input class="mainButton" type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
