<div class="new-activity">
    <div class="createActivityLabel">
        {{ viewTitle }}
        </div>

    <div class="new-activity-bar">
        <div class="column">
            <form name="createNewActivity" id="createActivity" ng-controller="NewActivityController" ng-submit="submitActivityForm()">
                <div>
                    <div class="row-category">
                        <p1>{{ activityHints.hintCategory }}</p1>
                        <br>
                        <select ng-model="activityInformation.activityCategory" required>
                            <option value="running">Running</option>
                            <option value="music">Music</option>
                            <option value="swimming">Swimming</option>
                            <option value="fencing">Fencing</option>
                            <option value="arts">Arts</option>
                        </select>
                    </div>
                    <br>
                    <div class="row-title">
                        <p1>{{ activityHints.hintTitle }}</p1>
                        <br>
                        <input type="text" ng-model="activityInformation.activityTitle" required></input>
                    </div>
                    <br>
                    <div class="row-desc">
                        <p1>{{ activityHints.hintDescription }}</p1>
                        <br>
                        <textarea ng-model="activityInformation.activityDescription" class="activity-description" maxlength="140" rows="6" cols="40" required></textarea>
                    </div>
                    <br>
                    <div class="row-date">
                        <p1>{{ activityHints.hintDateTime }}</p1>
                        <br>
                        <input type="datetime-local" ng-model="activityInformation.activityDateTime" required></input>
                    </div>
                    <br>
                    <div class="row-location">
                        <p1>{{ activityHints.hintLocation }}</p1>
                        <br>
                        <input type="text" maxlength="60" ng-model="activityInformation.activityLocation" required></input>
                    </div>
                    <br>
                    <div class="row-participants">
                        <p1>{{ activityHints.hintParticipantAmount }}</p1>
                        <input type="number" value="0" min="0" max="4" ng-model="activityInformation.activityParticipantAmount" required></input>
                    </div>
                    <br>
                    <div class="row-skill">
                        <p1>{{ activityHints.hintSkillLevel }}</p1>
                        <select ng-model="activityInformation.activitySkillLevel" required>
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div>
                        <input type="submit" id="submitActivityForm" value="Create"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>