<div class="login-main">
    <div class="logInMainLabel">
        <a href='index.html'><img src="img/CloseButton.png" alt="" class="closeButton"></a>
        <img src="img/UserIcon%20@2x.png" alt="" class="profile-picture-big">
        <div class="card-expanded-space"></div>
        <h1 id="alignToCenter">{{ProfileHolders.username}}</h1>
        <!--
        <h1 id="alignToCenter">{{ProfileHolders.email}}</h1>
        <h1 id="alignToCenter">{{ProfileHolders.firstname}}</h1>
        <h1 id="alignToCenter">{{ProfileHolders.lastname}}</h1>
-->
        <div class="button-bottom-container">
            <input type="button" ng-click="signOut()" value="Sign Out" class="mainButton" />
        </div>
    </div>
</div>
