
<div class="container">
	<div class="col-xs-3">
        <div class="SingUpCard center  text-center">
    		<div class="card-block">
                <h2>Welcome =DDDD</h2>
                
                <p>We're pleased to see you here! Lets get started by filling the  basic information below.</p>
               	<br> 
				<h4>{{check}}</h4>
                <form action="" method="post">
							<div class="center-block">
								<img class="user_picture" src="img/user_picture.png" alt="">
							</div>
					<br>
                    <div class="input-prepend"><span class="add-on"><i></i></span>
						 <h5>Name</h5>
						 <input type="text" ng-model="name" id="Name" name="" placeholder= {{nameHolder}} >
                    </div>
                   	

            	 	<div class="input-prepend"><span class="add-on"><i></i></span>
                       	 <h5>Age</h5>
						<input type="text" ng-model="age" id="Age" name="" placeholder= {{ageHolder}} > 
                    </div>
                    

                    <div class="input-prepend"><span class="add-on"><i></i></span>
                        <h5>Password</h5>
						<input type="text" ng-moder="password" id="Password" name="" placeholder={{passwordHolder}}>
                    </div>
                    <br>

      			<input type="submit" value="Continue" class="cardbtn" ng-click="forwardStart()"/>
					<br>				

              </form>
            </div>    
        </div>
	</div>
</div>
