<div class="container">
	<div class="col-xs-3">
        <div class="SingUpCard center  text-center" >
		<div class="card-block" ng-model="checkStart" ng-if="checkStart == true" ng-show="forwardStart">
		<h2>Welcome =DDDD</h2>
		<p>We're pleased to see you here! Lets get started by filling the  basic information below.</p>
                <br> 
                <h4>{{check1}}</h4>
			<form action="" method="post">
				<div class="center-block">
				    <img class="user_picture" src="img/user_picture.png" alt=""/>
				</div>
				<br>
				<div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Username</h5>
				    <input type="text" ng-model="signInformation.username" id="username" name="" placeholder= {{SignUpHolders.usernameHolder}} required>
				</div>
				<div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Surname</h5>
				    <input type="text" ng-model="signInformation.surname" id="Surname" name="" placeholder= {{SignUpHolders.surnameHolder}} required> 
				</div>
				<div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Lastname</h5>
				    <input type="text" ng-model="signInformation.lastname" id="Lastname" name="" placeholder={{SignUpHolders.lastnameHolder}} required>
				</div>
                <div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Age</h5>
				    <input type="datetime-local" ng-model="signInformation.dayofBirth" id="age" name="" placeholder={{SignUpHolders.ageHolder}} required>
				</div>
                    <br>
                <div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Password</h5>
				    <input type="text" ng-model="signInformation.password" id="Password" name="" placeholder={{SignUpHolders.passwordHolder}} required>
				</div>
                <div class="input-prepend"><span class="add-on"><i></i></span>
				    <h5>Retype password</h5>
				    <input type="text" id="Password2" name="" placeholder={{SignUpHolders.passwordHolder}} required>
				</div>
				    <input type="button" value="Continue" class="cardbtn" ng-click="forwardStart()"/>
				<br>				
            </form>
			</div>            
            <div class="card-block" ng-model="checkPostal" ng-show="checkPostal">
                <h2>Find Activities Nearby</h2> 
                    <p> Please fill in your postal code below. By doing this you can see nearby activities effortlessly. Alternatively, you can drop pin to your location</p>
                    <br> 
                <form action="" method="post">
                    <div class="center-block">
                    </div>
                    <br>
                    <div class="input-prepend"><span class="add-on"><i></i></span>
                        <h5>Postal Code</h5>               
                        <input type="text" ng-model="signInformation.zipcode" id="zipcode" name=""  placeholder={{SignUpHolders.postalCodeHoler}} required>
                    </div>
                    <br>
                    <input type="button" value="Previous" class="cardbtn-small" ng-click="backwardsPostal()"/>
                    <input type="button" value="Next" class="cardbtn-small" ng-click="forwardPostal()"  onclick="GetLocation()"/>
				    <br>
                </form>		
			</div>         
            <div class="card-block" ng-model="checkEmail" ng-show="checkEmail">
                <h2>Almost There...</h2> 
                    <p> You're almost done! We still need your email so we can verify your account. Dont't worry. We hate spam mail as much as you do. So we Promise not to send you any.</p>
                    <br> 
                <form action="" method="post">
                    <br>
                    <div class="input-prepend"><span class="add-on"><i></i></span>
                        <h5>Email</h5>               
                        <input type="text" ng-model="signInformation.email" id="email" name=""  placeholder={{SignUpHolders.emailHolder}} required>
                    </div>
                    <br>
                    <input type="button" value="Previous" class="cardbtn-small" ng-click="backwardEmail()"/>
                    <input type="button" value="Next" class="cardbtn-small" ng-click="forwardEmail()" />
				    <br>
                </form>		
			</div>
            <div class="card-block" ng-model="checkDone" ng-show="checkDone">
                <h2>All Done.</h2> 
                    <p> Great work there. Now you're ready to start exploring intresting new activities around the city and post your own for most epic dragon slaying time ever!</p>
                    <br> 
                <form action="" method="post"> 
                    <br>
                    <input type="button" value="Let's Roll" class="cardbtn" ng-click="letsRoll()"/>
				    <br>
                </form>		
			</div>
		</div>
	</div>
</div>