<div class="container">
    <div class="card-expanded">
        <div class="card-expanded-block" ng-model="checkStart" ng-if="checkStart == true" ng-show="forwardStart">

            <!-- NAME, AGE, PASSWORD VIEW -->
            <h1>Welcome :)</h1>
            <br>
            <p>We're pleased to see you here! Lets get started by filling the basic information below.</p>
            <!-- <h4>{{check1}}</h4> -->
            <form action="" method="post">
                <div class="card-expanded-container">
                    <div class="profile-picture-container">
                        <img class="user_picture" src="img/UserIcon @2x.png" alt="" />
                    </div>
                    <div class="card-context"></div>
                    <h2-black>Name</h2-black>
                    <div class="inputs-container">
                        <div class="inputs"><span class="add-on"><i></i></span>

                            <input type="text" class="input-register-right" ng-model="signInformation.firstname" id="firstname" name="" placeholder={{SignUpHolders.surnameHolder}} required>


                            <input type="text" class="input-register" ng-model="signInformation.lastname" id="Lastname" name="" placeholder={{SignUpHolders.lastnameHolder}} required>
                        </div>
                        <h2-black>Date of Birth</h2-black>
                        <div class="inputs"><span class="add-on"><i></i></span>
                            <input class="dateInput" ng-model="activityInformation.date" type="text" id="datepicker"  required>  {{ loadDatePicker() }}
                        </div>
                        <h2-black>Password</h2-black>
                        <h4>{{signupError}}</h4>
                        <div class="inputs"><span class="add-on"><i></i></span>
                            <input type="password" class="input-register-right" ng-model="signInformation.password" id="Password" name="" placeholder={{SignUpHolders.passwordHolder}} required>
                            <input type="password" class="input-register" ng-model="pass2" id="pass2" name="" placeholder={{SignUpHolders.passwordHolder}} required>
                        </div>
                        <div class="input-space"></div>
                    </div>
                    <div class="button-bottom-container">
                    <input type="button" class="mainButton" value="Continue" ng-click="forwardStart()" />
                        </div>
                </div>
        </form>
    </div>

    <!-- POSTAL CODE VIEW -->
    <div class="card-expanded-block" ng-model="checkPostal" ng-show="checkPostal">
        <h1>Find Activities Nearby</h1>
        <br>
        <p> Please fill in your postal code below. By doing this you can see nearby activities effortlessly. Alternatively, you can drop pin to your location</p>
        <form action="" method="post">
            <div class="card-expanded-container">
                <h2-black>Postal Code</h2-black>
                <div class="inputs"><span class="add-on"><i></i></span>
                    <input type="text" class="input-register-middle" id="postcode" placeholder={{SignUpHolders.postalCodeHoler}} required>
                </div>
                <h2-black>Country</h2-black>
                <div class="inputs"><span class="add-on"><i></i></span>
                    <input type="text" class="input-register-middle" id="country" placeholder={{SignUpHolders.contryHolder}} required>
                </div>
                <div class="button-bottom-container">
                    <input type="button" value="Previous" class="button-row-left" ng-click="backwardsPostal()" />

                    <input type="button" value="Next" class="button-row-right" ng-click="forwardPostal()" />
                </div>

            </div>
        </form>

    </div>

    <!-- EMAIL CONFIRMATION VIEW -->
    <div class="card-expanded-block" ng-model="checkEmail" ng-show="checkEmail">
        <h1>Almost There...</h1>
        <br>
        <p> You're almost done! We still need your email so we can verify your account. Dont't worry. We hate spam mail as much as you do. So we promise not to send you any.</p>
        <form action="" method="post">
            <div class="card-expanded-container">
                <h2-black>Email</h2-black>
                <div class="inputs"><span class="add-on"><i></i></span>
                    <input type="email" ng-model="signInformation.email" class="input-register-middle" placeholder={{SignUpHolders.emailHolder}} required>
                </div>
                <h2>Username</h2>
                <input type="username" ng-model="signInformation.username" class="input-register-middle" placeholder={{SignUpHolders.usernameHolder}} required>
                <div class="button-bottom-container">
                    <input type="button" value="Previous" class="button-row-left" ng-click="backwardEmail()" />
                    <input type="button" value="Next" class="button-row-right" ng-click="forwardEmail()" />
                </div>
            </div>
        </form>
    </div>

    <!-- ALL DONE VIEW -->
    <div class="card-expanded-block" ng-model="checkDone" ng-show="checkDone">
        <h1>All Done.</h1>
        <br>
        <p> Great work there. Now you're ready to start exploring intresting new activities around the city and post your own for most epic dragon slaying time ever!</p>
        <form action="" method="post">
            <br>
            <div class="button-bottom-container">
            <input type="button" value="Let's Roll" class="mainButton" ng-click="letsRoll()" />
            </div>
            <br>
        </form>
    </div>
</div>
</div>


  <!-- JEREN KOODI, ÄLÄ POISTA!
  <div class="card-expanded">
		<div class="card-expanded-block" ng-model="checkStart" ng-if="checkStart == true" ng-show="forwardStart">
            
        <!-- NAME, AGE, PASSWORD VIEW --
		<h1>Welcome :)</h1>
       <br>
		<p>We're pleased to see you here! Lets get started by filling the  basic information below.</p>
                <!-- <h4>{{check1}}</h4> --
      <form action="" method="post">
				<div class="center-block">
				    <img class="user_picture" src="img/UserIcon @2x.png" alt=""/>
				</div>
				<br>

				<h2-black> Username </h2-black>
        <div class="inputs"><span class="add-on"><i></i></span>
				    <input type="text" class="input-register" ng-model="signInformation.username" id="username" name="" placeholder= {{SignUpHolders.usernameHolder}} required>
				</div>
      
        <h2-black>First Name</h2-black>
        <div class="inputs"><span class="add-on"><i></i></span>
				    <input type="text" ng-model="signInformation.firstname" id="firstname" name="" placeholder= {{SignUpHolders.surnameHolder}} required> 
				</div>
      
        <h2-black>Last name</h2-black>
				<div class="inputs"><span class="add-on"><i></i></span>
				    <input type="text" ng-model="signInformation.lastname" id="Lastname" name="" placeholder={{SignUpHolders.lastnameHolder}} required>
				</div>
      
        <h2-black>Date of birth</h2-black>
            <div class="input-prepend"><span class="add-on"><i></i></span> 
				    <input type="text" ng-model="signInformation.dayOfBirth" id="age" name="" placeholder={{SignUpHolders.ageHolder}} required>
				</div>
        <h4>{{signupError}}</h4>
        <h2-black>Password</h2-black>
            <div class="inputs"><span class="add-on"><i></i></span>
				    <input type="password" ng-model="signInformation.password" id="Password" name="" placeholder={{SignUpHolders.passwordHolder}} required>
				</div>
      
        <h2-black>Retype password</h2-black>
            <div class="inputs"><span class="add-on"><i></i></span>
				    <input type="password" ng-model="pass2" id="pass2" name="" placeholder={{SignUpHolders.passwordHolder}} required>
				</div>
      
				<input type="button" class="mainButton" value="Continue" ng-click="forwardStart()"/>
      </form>
		</div>
  
    <!-- POSTAL CODE VIEW --
    <div class="card-expanded-block" ng-model="checkPostal"  ng-if="checkPostal == true" ng-show="checkPostal">
        <h1>Find Activities Nearby</h1> 
        <p> Please fill in your postal code below. By doing this you can see nearby activities effortlessly. Alternatively, you can drop pin to your location</p>
        <br> 
        <form action="" method="post">
            <div class="center-block">
    </div>
        <br>
        <h2-black>Postal Code and Country</h2-black>   
        <div class="inputs"><span class="add-on"><i></i></span>            
            <input type="text"  id="postcode" name=""  placeholder={{SignUpHolders.postalCodeHoler}} required>
        </div>
        <br>
            <input type="button" value="Previous" class="button-row-left" ng-click="backwardsPostal()"/>
            <input type="button" value="Next" class="button-row-right" ng-click="forwardPostal()"/>
				    <br>
        </form>		
		</div>
        
            <!-- EMAIL CONFIRMATION VIEW --
            <div class="card-expanded-block" ng-model="checkEmail" ng-show="checkEmail">
                <h1>Almost There...</h1>
                <br>
                    <p> You're almost done! We still need your email so we can verify your account. Dont't worry. We hate spam mail as much as you do. So we promise not to send you any.</p>
                <form action="" method="post">
                    <br>
                    <h2-black>Email</h2-black>
                    <div class="input-prepend"><span class="add-on"><i></i></span>
                      <input type="email" ng-model="signInformation.email" id="email" name=""  placeholder={{SignUpHolders.emailHolder}} required>
                      <input type="text" ng-model="email" id="email" name="" class="input-register"  placeholder={{emailHolder}}>
                    </div>
                    <br>
                    <input type="button" value="Previous" class="button-row-left" ng-click="backwardEmail()"/>
                    <input type="button" value="Next" class="button-row-right" ng-click="forwardEmail()" />
				            <br>
                </form>		
			</div>
        
            <!-- ALL DONE VIEW --
            <div class="card-expanded-block" ng-model="checkDone" ng-show="checkDone">
                <h1>All Done.</h1>
                <br>
                    <p> Great work there. Now you're ready to start exploring intresting new activities around the city and post your own for most epic dragon slaying time ever!</p>
                <form action="" method="post"> 
                    <br>
                    <input type="submit" value="Let's Roll" class="mainButton" ng-click="letsRoll()"/>
				    <br>
                </form>		
			</div>
		</div>
	</div>
</div> 
JEREN KOODI LOPPUU, ÄLÄ POISTA! -->

